* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

//Header
.header {
  display: flex;
  width: 100%;
  align-items: center;
  h2 {
    margin-right: 10px;
  }
  .menu {
    flex-grow: 1;
  }
}

//forms
.chart-forms {
  .city-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .lat-long-input,
    .city-select {
      width: calc(20% - 20px);
    }
    .date-range-picker {
      width: calc(40% - 20px);
    }
  }
  .checkboxes-row {
    padding: 10px;
  }
  .button-row {
    display: flex;
    justify-content: flex-end;
    .add-btn {
      margin-right: 10px;
    }
  }
}

//cities
.cities-table {
  .table-col {
    width: 100%;
  }
}

//charts

.chart-charts-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  .chart-item {
    margin: 20px;
    .recharts-wrapper {
      padding: 10px;
      background-color: #f3f3f3;
    }
  }
}
